.content {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pane {
    margin: 0px;
    padding: 5px;
    border: 1px solid #1E392A;
    border-radius: .25rem;
}

.fa-user-circle {
    font-size: 24px;
    padding-top: 9px;
}

.categories, .relatedProducts, .trendingProducts {
    margin-top: 10px;
}

.categories .list-group-item {
    padding: 3px;
    cursor: pointer;
}

.product {
    cursor: pointer;
}

.product:hover {
    background-color: #1E392A;
}

.product:hover span {
    color: #3CC47C;
}

.relatedProducts .small, .trendingProducts .small {
    padding-top: 8px;
    padding-left: 9px;
}